## content from makestuff
dump.txt
inc
*.tmp
*.checkfile
dropstuff
index.lsd
*.ld.tex
jekyll.log
makestuff
screens.mk
screens.list
.screens.list
3SS
oldbicko
bicko
dataviz
code
tech
Dropbox
gitroot
708
ICI3D
rabies
1M
org
Talks
tsetse
research
web
dirnames.mk
local.mk
target.mk
make.log
go.log
tmp.scr
commit.time
commit.default
up.time
all.time
*.all
pages
pagebranch
.clean_dir
dotdir/
clonedir/
cpdir/
*.ours
*.theirs
*.common
*.gitdiff
*.oldfile
*.olddiff
*.arcfile
*.newfile
*.newdiff
*.blame
dump.txt
inc
*.tmp
*.checkfile
dropstuff
index.lsd
*.ld.tex
jekyll.log
makestuff
screens.mk
screens.list
.screens.list
3SS
oldbicko
bicko
dataviz
code
tech
Dropbox
gitroot
708
ICI3D
rabies
1M
org
Talks
tsetse
research
web
dirnames.mk
local.mk
target.mk
make.log
go.log
tmp.scr
commit.time
commit.default
up.time
all.time
*.all
pages
pagebranch
.clean_dir
dotdir/
clonedir/
cpdir/
*.ours
*.theirs
*.common
*.gitdiff
*.oldfile
*.olddiff
*.arcfile
*.newfile
*.newdiff
*.blame
dump.txt
inc
*.tmp
*.checkfile
dropstuff
index.lsd
*.ld.tex
jekyll.log
makestuff
screens.mk
screens.list
.screens.list
3SS
oldbicko
bicko
dataviz
code
tech
Dropbox
gitroot
708
ICI3D
rabies
1M
org
Talks
tsetse
research
web
dirnames.mk
local.mk
target.mk
make.log
go.log
tmp.scr
commit.time
commit.default
up.time
all.time
*.all
pages
pagebranch
.clean_dir
dotdir/
clonedir/
cpdir/
*.ours
*.theirs
*.common
*.gitdiff
*.oldfile
*.olddiff
*.arcfile
*.newfile
*.newdiff
*.blame
dump.txt
inc
*.tmp
*.checkfile
dropstuff
index.lsd
*.ld.tex
jekyll.log
makestuff
screens.mk
screens.list
.screens.list
3SS
oldbicko
bicko
dataviz
code
tech
Dropbox
gitroot
708
ICI3D
rabies
1M
org
Talks
tsetse
research
web
dirnames.mk
local.mk
target.mk
make.log
go.log
tmp.scr
commit.time
commit.default
up.time
all.time
*.all
pages
pagebranch
.clean_dir
dotdir/
clonedir/
cpdir/
*.ours
*.theirs
*.common
*.gitdiff
*.oldfile
*.olddiff
*.arcfile
*.newfile
*.newdiff
*.blame
dump.txt
inc
*.tmp
*.checkfile
dropstuff
index.lsd
*.ld.tex
jekyll.log
makestuff
screens.mk
screens.list
.screens.list
3SS
oldbicko
bicko
dataviz
code
tech
Dropbox
gitroot
708
ICI3D
rabies
1M
org
Talks
tsetse
research
web
dirnames.mk
local.mk
target.mk
make.log
go.log
tmp.scr
commit.time
commit.default
up.time
all.time
*.all
pages
pagebranch
.clean_dir
dotdir/
clonedir/
cpdir/
*.ours
*.theirs
*.common
*.gitdiff
*.oldfile
*.olddiff
*.arcfile
*.newfile
*.newdiff
*.blame
target.mk
local.mk
datadir
outdir
Animal_CT.csv
Human_CT.csv
*.incubation.check.csv
*.allchecks
*.report.html
p1
makestuff
*.checkfile
dropstuff
index.lsd
*.ld.tex
jekyll.log
.Rhistory
.RData
*.RData
*.Rlog
*.rdata
*.rda
*.rtmp
*.Rout*
*.html.args
*.pdf.args
*.Rds
*.rds
Rplots.pdf
*.ggp.*
local.mk
target.mk
make.log
go.log
tmp.scr
commit.time
commit.default
up.time
all.time
*.all
pages
pagebranch
.clean_dir
dotdir/
clonedir/
cpdir/
*.ours
*.theirs
*.common
*.gitdiff
*.oldfile
*.olddiff
*.arcfile
*.newfile
*.newdiff
*.blame
target.mk
local.mk
datadir
outdir
Animal_CT.csv
Human_CT.csv
*.incubation.check.csv
*.report.html
p1
makestuff
*.checkfile
dropstuff
index.lsd
*.ld.tex
jekyll.log
.Rhistory
.RData
*.RData
*.Rlog
*.rdata
*.rda
*.rtmp
*.Rout*
*.html.args
*.pdf.args
*.Rds
*.rds
Rplots.pdf
*.ggp.*
SD_dogs.allchecks.pipeR.script
local.mk
target.mk
make.log
go.log
tmp.scr
commit.time
commit.default
up.time
all.time
*.all
pages
pagebranch
.clean_dir
dotdir/
clonedir/
cpdir/
*.ours
*.theirs
*.common
*.gitdiff
*.oldfile
*.olddiff
*.arcfile
*.newfile
*.newdiff
*.blame
target.mk
local.mk
datadir
outdir
Animal_CT.csv
Human_CT.csv
*.incubation.check.csv
*.report.html
p1
makestuff
*.checkfile
dropstuff
index.lsd
*.ld.tex
jekyll.log
.Rhistory
.RData
*.RData
*.Rlog
*.rdata
*.rda
*.rtmp
*.Rout*
*.html.args
*.pdf.args
*.Rds
*.rds
Rplots.pdf
*.ggp.*
SD_dogs.allchecks.pipeR.script
local.mk
target.mk
make.log
go.log
tmp.scr
commit.time
commit.default
up.time
all.time
*.all
pages
pagebranch
.clean_dir
dotdir/
clonedir/
cpdir/
*.ours
*.theirs
*.common
*.gitdiff
*.oldfile
*.olddiff
*.arcfile
*.newfile
*.newdiff
*.blame
target.mk
local.mk
datadir
outdir
Animal_CT.csv
Human_CT.csv
*.incubation.check.csv
*.report.html
p1
makestuff
*.checkfile
dropstuff
index.lsd
*.ld.tex
jekyll.log
.Rhistory
.RData
*.RData
*.Rlog
*.rdata
*.rda
*.rtmp
*.Rout*
*.html.args
*.pdf.args
*.Rds
*.rds
Rplots.pdf
*.ggp.*
SD_dogs.allchecks.pipeR.script
local.mk
target.mk
make.log
go.log
tmp.scr
commit.time
commit.default
up.time
all.time
*.all
pages
pagebranch
.clean_dir
dotdir/
clonedir/
cpdir/
*.ours
*.theirs
*.common
*.gitdiff
*.oldfile
*.olddiff
*.arcfile
*.newfile
*.newdiff
*.blame
